<div class="col-md-6">
  <h2 class="text-center">New Customer Form</h2>
  <form>

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" [(ngModel)]="customer.firstName" placeholder="Enter the customer first name" name="firstName" class="form-control" id="firstName">
    </div>
  
    <div class="form-group">
      <label for="designation">Last Name:</label>
      <input [(ngModel)]="customer.lastName" placeholder="Enter the customer last name" name="lastName" class="form-control" id="lastName">
    </div>
  
    <div class="form-group">
      <label for="email">E-mail</label>
      <input [(ngModel)]="customer.email" placeholder="Customer e-mail" name="email" class="form-control" id="email">
    </div>
  
    <button class="btn btn-success" (click)="createCustomer()">Create</button>
  </form>
  </div>