
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first">
      
      <img src="./assets/img/logo30.png" alt="User Icon" />
      <div id="formFooter">
          <a class="underlineHover" href="#">You have to sign in here.</a>
        </div>
    </div>

    <!-- Login Form -->
    
<form>
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="Enter your name" [(ngModel)]="username">
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="Enter your password" [(ngModel)]="password">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)=checkLogin()>
    </form>
  </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>