<h3>Customer List</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.email}}</td>
      <td><button class="btn btn-success" (click)="updateCustomer(customer)"> Update Customer</button></td>
      <td><button class="btn btn-danger" (click)="deleteCustomer(customer)"> Delete Customer</button></td>
    </tr>
  </tbody>
</table>